*{
    margin: 0;
    
}

.logo{
    display: flex ;
    padding: 10px;
    flex-direction: column;
}
.logo img{
    vertical-align: bottom;
}
.sidebar{
    background-color: #0284c7;
    /* border: 1px solid blue; */
    height: 100vh;
    color: white;
}
.upperbar{
    /* border: 1px solid red; */
    height: 18vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    box-shadow: rgb(0, 0, 0, 0.6) 0px 0px 10px 1px;
   
}
.project-section{
    height: 70vh;
    border: 1px solid green;
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 15px;
}
.project-section > div{
    border: 1px solid black;
}
.main-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
   
   
}
.navigation > ul {
    margin: 20px 0px 30px 0px;
}
/* .upperbar > div {
    border: 1px solid green;
} */
.search, .notifications{
  
    height: 7vhh;
}
.hi, .upload{
    height: 8vh;
}
.project-right{
    display: grid;

}
.project-right > div{
    border: 1px solid brown;
}

li::marker{
    font-size: 3em;
    
}
li{
    margin-left: 10px;
    font-size: 15px;
    font-weight: bold;
}
.home{
    list-style-image: url(home-circle.svg);
    
}

.profile{
    list-style-image: url(face-man-profile.svg);
}
.messages{
    list-style-image: url(message.svg);
}
.history{
    list-style-image: url(history.svg);

}
.tasks{
    list-style-image: url(view-grid.svg);
}
.communities{
    list-style-image: url(account-group.svg);
}
.settings{
    list-style-image: url(cog.svg);
}
.support{
    list-style-image: url(help.svg);

}
.privacy{
    list-style-image: url(shield-check.svg);
}

.projects{
    margin-right: 15px;
    margin-left: 15px;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    
}
.projects div{
    width: 100%;
    border: 1px solid limegreen;
   
}
.title-project, .title-announce{
    display: grid;
    margin: 15px;
    grid-template-columns: 3fr 0.9fr;
}
.search{
    display : flex;
    align-items: center;
    margin-left: 20px;

}
.search input{
    margin: 5px;
    padding: 5px;
    border-radius: 15px;
    background: rgb(128, 128, 128, 0.4);
    width: 80%;
    border: none;
}
.notifications{
    display: flex;
    gap: 20px;
    align-items: center;
}
.notifications > div{
    /* border: 1px solid red; */
}
.hi{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 20px;
}
.upload{
    display: flex;
    gap: 15px;
    align-items: center;
   
}
.upload > button{
    padding: 6px 12px 6px 12px;
    border-radius: 15px;
    background: #0284c7;
    color: white;
    font-weight: bold;
    border: none;
}

